<h1>All quotations</h1>

<%= link_to "Add new quotation", new_quotation_path %>

<% if @quotes.present? %>
	<% @quotes.each do |f| %>
		<p>
			"<%= f.content %>" (<%= f.created_at.strftime('%d %B %Y') %>)
		</p>
	<% end %>
<% end %>

<br>

<%= will_paginate @quotes %>