<h2>Enter a new quotation below</h2>

<br />

<%= form_for @quote do |f| %>
  <div class="form-group">
    Content: <%= f.text_field :content, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>

<br />
<br />

<%= link_to "<- Back", root_path %>